{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Hi {{ user.username }}!</h1>
  <button type="button" class="btn btn-primary"><a style="color:white;" href="{% url 'upload' %}">Upload a photo</a></button>
  <h2>Your photos</h2>
  {% for img in imgs %} 
    <div class="col-md-4"> 
      <p>{{ img.name }} : </p>
      <img src="{{ img.document.url }}" class="img-responsive" style="width: 30%; margin-right: 10px;" /> 
    </div>
  {% endfor %}
  <br>
  <button type="button" class="btn btn-danger"><a style="color:white;" href="{% url 'logout' %}">Log Out</a></button>
{% else %}
  <p>You are not logged in</p>
  <button type="button" class="btn btn-primary"><a style="color:white;" href="{% url 'login' %}">Log In</a></button>
{% endif %}
{% endblock %}